

<table class="table">
    <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Price</th>
    <th>Stock</th>
    <th>Op</th>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Name</td>
                <td>@p.Price</td>
                <td>@p.Stock</td>
                <td>
                    <a asp-controller="products" asp-action="Remove" asp-route-id="@p.Id">Delete</a>
                    <a asp-controller="products" asp-action="Update" asp-route-id="@p.Id">Update</a>
                </td>
            </tr>
        }
    </tbody>
</table>